<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>About Me</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


<!-- about wrap  -->
<div class="about_wrap_area about_wrap_area2">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/controls.png" alt="">
                    <h3>CAREER</h3>
                    <p>Heavenly Minded Medidia popularly known as Royal family was first established on September
                        2008 in and registered with the CAC on 9th September
                        2019
                        Oturkpo local government area of Benue state Nigeria. The Founder was Prince Linus Adoyi a media
                        enthusiast Who felt he could make a difference through the medium of Cinematography, Music,
                        Photography and Show-bizzes... He is of a great leadership endounment.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/bar-chart.png" alt="">
                    <h3>EARLY LIFE</h3>
                    <p>Linus Adoyi Abuh the CEO Heavenly Minded media was born on the 7th of May 1996 at Ogbadibo LGA of
                        Benue state, grew up in 72 Barack Markudi where he did his first living certificate. did his
                        WACCE Exams in st. Paul Secondary School.
                        Entered Media bussiness 2009 under caouse production, had a diploma from GT Film Accademy ayebo
                        Lagos and did his first workshop... He is a producer, dictor, writer and the founder of I Belive
                        In Nigeria. A christian by religion
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service_wrap text-center">
                    <img src="img/svg_icon/puzzle.png" alt="">
                    <h3>MORE</h3>
                    <p>Trainer and convainer </p>
                </div>
            </div>
        </div>
    </div>
</div>