<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163496454-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-163496454-1');
    </script>

    <title>Prince Adoyi C.E.O</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Prince Adoyi, Register, Become an Actor/Actress today">
    <meta name="author" content="Heavenly Minded Media, Joel Odufu, Prince Adoyi">
    <meta name="generator" content="Joel Odufu">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/default/css/magnific-popup.css">
    <link rel="stylesheet" href="/default/css/font-awesome.min.css">
    <link rel="stylesheet" href="/default/css/themify-icons.css">
    <link rel="stylesheet" href="/default/css/nice-select.css">
    <link rel="stylesheet" href="/default/css/flaticon.css">
    <link rel="stylesheet" href="/default/css/gijgo.css">
    <link rel="stylesheet" href="/default/css/animate.css">
    <link rel="stylesheet" href="/default/css/slick.css">
    <link rel="stylesheet" href="/default/css/slicknav.css">
    <link rel="stylesheet" href="/default/css/style.css">
    <link rel="stylesheet" href="/default/scss/main.scss">
    <link rel="stylesheet" href="/default/scss/mixins.scss">
    <script src="https://use.fontawesome.com/aed9235111.js"></script>
</head>

<body>
    {{> default/header2}}
    {{{body}}}
    {{> default/footer2}}
    <script src="../../ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/default/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/default/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/default/js/popper.min.js"></script>
    <script src="/default/js/bootstrap.min.js"></script>
    <script src="/default/js/owl.carousel.min.js"></script>
    <script src="/default/js/isotope.pkgd.min.js"></script>
    <script src="/default/js/ajax-form.js"></script>
    <script src="/default/js/waypoints.min.js"></script>
    <script src="/default/js/jquery.counterup.min.js"></script>
    <script src="/default/js/imagesloaded.pkgd.min.js"></script>
    <script src="/default/js/scrollIt.js"></script>
    <script src="/default/js/jquery.scrollUp.min.js"></script>
    <script src="/default/js/wow.min.js"></script>
    <script src="/default/js/nice-select.min.js"></script>
    <script src="/default/js/jquery.slicknav.min.js"></script>
    <script src="/default/js/jquery.magnific-popup.min.js"></script>
    <script src="/default/js/plugins.js"></script>
    <script src="/default/js/gijgo.min.js"></script>
    <script src="/default/js/slick.min.js"></script>
    <!--contact js-->
    <script src="/default/js/contact.js"></script>
    <script src="/default/js/jquery.ajaxchimp.min.js"></script>
    <script src="/default/js/jquery.form.js"></script>
    <script src="/default/js/jquery.validate.min.js"></script>
    <script src="/default/js/mail-script.js"></script>
    <script src="/default/js/main.js"></script>
    <script>
        $("#create-downloads").on('click', (e) => {
            e.preventDefault()
            alert('hellow')
        })
    </script>
</body>

</html>